lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

/.build
/.firebase.conf
/config.json
/config.json.source
/sites/
/2015-07-17-1437158370-7415732-nycopera1.jpg
